extends layout/main-layout.pug 
block style
block content
    h1 About Us
    p Tôi là Lê Đình Khánh Quân 
    
    p Tôi là người yêu thích lập trình và muốn trở thành một lập trình viên 
    h4 Thông tin liên hệ của tôi
    p Email :
     a(href="kquan2846@gmail.com" ) Email:kquan2846@gmail.com 
    p Facebook :
     a(href="https://www.facebook.com/khanhquan2846") FaceBook
    p Phone: 0359508036
    p Address: Hà Nội